/* Global Styles */

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

/* Header */

header {
  width: 100%;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  padding: 0.3rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.user-icon_header {
  width: 1.4rem;
}

/* Main */

main {
  display: flex;
  height: 100%;
}

.flex-items_main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#company-info_section {
  text-align: center;
  background: radial-gradient(transparent, #000),
    url("../img/business-background.jpg") no-repeat;
  background-size: cover;
  color: rgb(209, 209, 209);
  text-shadow: 5px 5px 10px #4b4b4b;
  font-size: 0.9rem;
  width: 45%;
}

.company-info_card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60%;
  width: 60%;
  background: #5e5e5e46;
  backdrop-filter: blur(0.4rem);
  padding: 2rem;
  border-radius: 1.5rem;
}

.company-info_image {
  width: 60%;
}

#user-auth_section {
  background: #ececec;
  width: 65%;
}

.user_options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_options button {
  cursor: pointer;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
}

.user_options button:hover {
  color: rgb(104, 104, 104);
  font-weight: 600;
}

.form {
  display: none;
}

.form.active{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
}

.form_labels {
  margin-top: 1rem;
}

.form_inputs {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  background: transparent;
  margin-top: 0.5rem;
  border: none;
  border-bottom: 1px solid #2c2c2c;
  outline: none;
  color: #4b4b4b;
}

.form_inputs:focus {
  border-bottom: 2px solid #2c2c2c;
}

.form_submit {
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: #4b4b4b;
  border: none;
  color: #ececec;
  width: 50%;
  align-self: center;
  transition: background 1s;
}

.form_submit:hover {
  background: #414040;
}

.form_submit:active {
  background: #2c2c2c;
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile_list {
  display: flex;
  margin: 0.5rem;
}

.profile_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  color: #4b4b4b;
  text-decoration: none;
}

.profile_link:hover {
  color: rgb(104, 104, 104);
  font-weight: 500;
}

.profile-icons_link {
  margin: 0 0.5rem;
  width: 1rem;
}
